@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --font-pixel: 'pixelify sans', sans-serif;
    --font-reg: 'plus jakarat sans', sans-serif;
}

body {
    margin: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    gap: 100px;
    margin-top: 1vh;

    & img {
        width: 80px;
        height: 160px;
    }
}

h1 {
    font-size: 80px;
    margin: 0;
    filter: opacity(linear-gradient(to right, white, 100%));
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

p {
    font-size: 24px;
}

.font-pixel {
    font-family: var(--font-pixel);
}

.font-reg {
    font-family: var(--font-reg);
}

.bg-image {
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("/images/bg-home-px.png"), url("/images/bg-home.png");
    background-position: center, center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
    filter: brightness(150%);
}

.ink-btn {
    background-image: url("/images/ink-splatter.svg");
    background-size: cover;
    background-position: center;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start-btn {
    margin-top: 22.5vh;
}

.ink-text {
    color: white;
}

#credits-btn {
    width: 25vw;
    height: 25vw;
    margin-top: -5vw;
}


/* GameZone */

#game-zone {
    width: 83vw;
    height: 88vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.ribbon {
    --r: .8em; /* control the cutout */

    border-block: .5em solid #0000;
    padding-inline: .5em calc(var(--r) + .25em);
    line-height: 1.8;
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%, 100% calc(100% - .25em), calc(100% - var(--r)) 50%, 100% .25em);
    background: radial-gradient(.2em 50% at left, #000a, #0000) border-box, #9B3535 padding-box; /* the color  */
    width: fit-content;
    
}

#speaker {
    & h2 {
        margin: 5px 10px;
    }
}

#content {
    width: 90%;
    height: 40%;
    background: url(./images/old-paper.jpg);
    background-size: cover;
    filter: brightness(120%) contrast(110%) saturate(75%);
    padding: 25px;
    padding-top: 50px;
}

#story {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 100%;
    overflow: hidden;

    & p {
        width: 80%;
        height: auto;
        margin: 0;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    & section {
        width: 12.5vw;
        height: 12.5vw;
        align-self: center;
    }
}

#options {
    display: flex;
    flex-direction: row;
}

.hidden {
    display: none;
}