@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --font-pixel: 'pixelify sans', sans-serif;
    --font-reg: 'plus jakarat sans', sans-serif;
}

body {
    margin: 0px;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    gap: 100px;
    margin-top: 1vh;

    & img {
        width: 80px;
        height: 160px;
    }
}

h1 {
    font-size: 80px;
    margin: 0;
    filter: opacity(linear-gradient(to right, white, 100%));
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

p {
    font-size: 24px;
}

/* Homescreen */
#homescreen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.font-pixel {
    font-family: var(--font-pixel);
}

.font-reg {
    font-family: var(--font-reg);
}

.bg-image {
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("/images/bg-home-px.png"), url("/images/bg-home.png");
    background-position: center, center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
    filter: brightness(150%);
}

.ink-btn {
    background-image: url("/images/ink-splatter.svg");
    background-size: cover;
    background-position: center;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start-btn {
    margin-top: 22.5vh;
}

.ink-txt {
    color: white;
}

#credits-btn {
    width: 25vw;
    height: 25vw;
    margin-top: -5vw;
}


/* GameZone */

#game-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
}

#game-zone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);



    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template-rows: repeat(24, 1fr);
    grid-template-columns: repeat(24, 1fr);

    & #speaker {
        grid-column: 4 / span 2;
        grid-row: 14 / span 3;
        z-index: 1;
        transform: translate(-10%, -10%);
        width: max-content;
        align-items: center;

        & h2 {
            margin: 5px 10px;
            color: #EBEBEB;
        }
    }

    & #content {
        grid-column: 3 / span 20;
        grid-row: 15 / span 8;
        min-height: min-content;
        padding: 25px;
        overflow: hidden;

        background: url(./images/old-paper.jpg);
        background-size: cover;
        filter: brightness(120%) contrast(110%) saturate(75%);

        box-shadow: 10px 10px 5px #000000;

        &.story {
            padding-top: 75px;
        }

    }
}

/* GameZone BG Images */

/* Overlay */

.overlay-prologue {
    background: url(./images/gameZoneOverlay/prologue.svg);
    background-size: cover;
    background-position: center;
}

.overlay-forest {
    background: url(./images/gameZoneOverlay/forest.svg);
    background-size: cover;
    background-position: center;
}

.overlay-desert {
    background: url(./images/gameZoneOverlay/desert.svg);
    background-size: cover;
    background-position: center;
}

.overlay-snow {
    background: url(./images/gameZoneOverlay/snow.svg);
    background-size: cover;
    background-position: center;
}

.overlay-grassland {
    background: url(./images/gameZoneOverlay/grassland.svg);
    background-size: cover;
    background-position: center;
}

.overlay-sailortown {
    background: url(./images/gameZoneOverlay/sailortown.svg);
    background-size: cover;
    background-position: center;
}

/* Background */

.bg-prologue {
    background: url(./images/gameZoneBG/prologue.svg);
    background-size: cover;
    background-position: center;
}

.bg-forest {
    background: url(./images/gameZoneBG/forest.svg);
    background-size: cover;
    background-position: center;
}

.bg-desert {
    background: url(./images/gameZoneBG/desert.svg);
    background-size: cover;
    background-position: center;
}

.bg-snow {
    background: url(./images/gameZoneBG/snow.svg);
    background-size: cover;
    background-position: center;
}

.bg-grassland {
    background: url(./images/gameZoneBG/grassland.svg);
    background-size: cover;
    background-position: center;
}

.bg-sailortown {
    background: url(./images/gameZoneBG/sailortown.svg);
    background-size: cover;
    background-position: center;
}




.ribbon {
    --r: .8em;
    /* control the cutout */

    padding-inline: .5em calc(var(--r) + .25em);
    line-height: 1.8;
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%, 100% calc(100% - .25em), calc(100% - var(--r)) 50%, 100% .25em);
    background: radial-gradient(.2em 50% at left, #000a, #0000) border-box, #762828 padding-box;
    /* the color  */
    width: fit-content;

}



#bottom-info {
    display: grid;
}

#story {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 100%;
    overflow: hidden;

    & p {
        width: 80%;
        height: auto;
        margin: 0;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    & .ink-btn {
        width: 12.5vw;
        height: 12.5vw;
        align-self: center;
    }
}

#choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    & h3 {
        margin: 10px 0px;
    }

    & #options {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;

        & .ink-btn {
            width: 15rem;
            height: 15rem;

            & h3 {
                margin: 0px;
            }
        }
    }
}

.hidden {
    display: none !important;
}